<!DOCTYPE html>
<html>

<head>
    <title>Buttons</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>

<!-- Button / Primary -->
  <div> 
    <div style="display:inline-block; margin:10px;">
      <table>
      <tr>
        <th>Style name</th>
        <th>State</th>
        <th>Sample</th>
      </tr>

      <tr>
        <td>Button / Primary</td>
        <td>Normal</td>
        <td><button  style="background: #0052FF; ">Button</button></td>
      </tr>

      <tr>
        <td>Button / Primary</td>
        <td>Hover</td>
        <td><button class="button1">Button</button></td>
      </tr>

      <tr>
        <td>Button / Primary</td>
        <td>Focus</td>
        <td><button class="button1 focus" >Button</button></td>
      </tr>

      <tr>
        <td>Button / Primary</td>
        <td>Disabled</td>
        <td><button class="disabled">Button</button></td>
      </tr>

  </table>

  <!-- Button / Primary/ Left Icon -->
    </div>
  <div style="display:inline-block; margin:10px;">
    <table>
        <tr>
          <th>Style name</th>
          <th>State</th>
          <th>Sample</th>
        </tr>

        <tr>
          <td>Button / Primary/ Left Icon</td>
          <td>Normal</td>
          <td><button style="background: #0052FF; "> 
            <div style="text-align: center">
              <img src="arrow1.svg" alt="">
              <span style="vertical-align:middle">Button</span>
            </div></button></td>
        </tr>

        <tr>
          <td>Button / Primary/ Left Icon</td>
          <td>Hover</td>
          <td><button class="button1 hover">
            <div style="text-align: center">
              <img src="arrow1.svg" alt="">
              <span style="vertical-align:middle">Button</span>
            </div>
          </button></td>
        </tr>

        <tr>
          <td>Button / Primar/ Left Icon</td>
          <td>Focus</td>
          <td><button class="button1 focus" >
            <div style="text-align: center">
              <img src="arrow1.svg" alt="">
              <span style="vertical-align:middle">Button</span>
            </div>
          </button></td>
        </tr>

        <tr>
          <td>Button / Primary/ Left Icon</td>
          <td>Disabled</td>
          <td><button class="disabled">
            <div style="text-align: center">
              <img src="arrow2.svg" alt="">
              <span style="vertical-align:middle">Button</span>
            </div>
          </button></td>
        </tr>

    </table>
    </div>
  </div>
  <br>


<!-- Button / Ghost -->
<div>
  <div style="display:inline-block; margin:10px;">
    <table>
      <tr>
        <th>Style name</th>
        <th>State</th>
        <th>Sample</th>
      </tr>

      <tr>
        <td>Button / Ghost</td>
        <td>Normal</td>
        <td><button class="button2">Button</button></td>
      </tr>

      <tr>
        <td>Button / Ghost</td>
        <td>Hover</td>
        <td><button class="button2 hover">Button</button></td>
      </tr>

      <tr>
        <td>Button / Ghost</td>
        <td>Focus</td>
        <td><button class="button2 focus" >Button</button></td>
      </tr>

      <tr>
        <td>Button / Ghost</td>
        <td>Disabled</td>
        <td><button class="disabled2">Button</button></td>
      </tr>

  </table>
 </div>

 <!--Button /Ghost/ Left Icon-->
 <div style="display:inline-block; margin:10px;">
  <table>
    <tr>
      <th>Style name</th>
      <th>State</th>
      <th>Sample</th>
    </tr>

    <tr>
      <td>Button / Ghost/ Left Icon</td>
      <td>Normal</td>
      <td><button class="button2">
        <div style="text-align: center">
        <img src="arrow4.svg" alt="">
        <span style="vertical-align:middle">Button</span>
      </div></button></td>
    </tr>

    <tr>
      <td>Button / Ghost/Left Icon</td>
      <td>Hover</td>
      <td><button class="button2 hover">
        <div style="text-align: center">
          <img src="arrow4.svg" alt="">
          <span style="vertical-align:middle">Button</span>
        </div>
      </button></td>
    </tr>

    <tr>
      <td>Button / Ghost/Left Icon</td>
      <td>Focus</td>
      <td><button class="button2 focus" >
        <div style="text-align: center">
          <img src="arrow4.svg" alt="">
          <span style="vertical-align:middle">Button</span>
        </div>
      </button></td>
    </tr>

    <tr>
      <td>Button / Ghost/Left Icon</td>
      <td>Disabled</td>
      <td><button class="disabled2">
        <div style="text-align: center">
          <img src="arrow3.svg" alt="">
          <span style="vertical-align:middle">Button</span>
        </div>
      </button></td>
    </tr>

  </table>
</div>
</div>

<br>
<!--Button /Ghost/ Right Icon-->
<div style="display:inline-block; margin:10px;">

  <table>
    <tr>
      <th>Style name</th>
      <th>State</th>
      <th>Sample</th>
    </tr>

    <tr>
      <td>Button / Ghost/  Right Icon</td>
      <td>Normal</td>
      <td><button class="button2" style="background:  #FFFFFF; ">
        <div style="text-align: center">
          <span style="vertical-align:middle">Button</span>
          <img src="arrow5.svg" alt="">
        </div>
      </button></td>
    </tr>

    <tr>
      <td>Button / Ghost/ Right Icon</td>
      <td>Hover</td>
      <td><button class="button2 hover">
        <div style="text-align: center">
          <span style="vertical-align:middle">Button</span>
          <img src="arrow5.svg" alt="">
        </div>
      </button></td>
    </tr>

    <tr>
      <td>Button / Ghost/ Right Icon</td>
      <td>Focus</td>
      <td><button class="button2 focus" >
        <div style="text-align: center">
        <span style="vertical-align:middle">Button</span>
        <img src="arrow5.svg" alt="">
      </div></button></td>
    </tr>

    <tr>
      <td>Button / Ghost/ Right Icon</td>
      <td>Disabled</td>
      <td><button class="disabled2">
        <div style="text-align: center">
          <span style="vertical-align:middle">Button</span>
          <img src="arrow6.svg" alt="">
        </div>
      </button></td>
    </tr>

  </table>
</div>

</body>


</html>