<!DOCTYPE html>
<html>

<head>
    <title>Checkbox & Switch</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <body>

<div>
        <form  data-type = "horizontal">
                <input type = "checkbox" id = "checkbox1" />
                <input  type = "checkbox" id = "checkbox2" />
                <input type = "checkbox" id = "checkbox3" disabled />
                
        </form>
</div>

<div>
 
    <input type="radio" name="radio-button"/>
    <input type="radio" name="radio-button" checked />
    <input type="radio" name="radio-button" disabled />
    
</div>

<div>
    <input type="checkbox" style ="height: 0;
    width: 0;
    visibility: hidden;" id="switch"/>
    <label  for="switch">Toggle</label>
</div>
      


</body>
</html> 