@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }
@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}
body{
    background-color: #FFFFFF;
    color:#00194C;
    font-family: 'Inter', sans-serif;
    font-style: normal; 
}
ul {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    justify-content: space-around;
}

.shad {
    border-radius: 4px;
    padding: 10px;
    margin: 5px;
    flex: 0 0 4.3vw;
    height: 4.3vw;
    display: block;
    background:  #F2F2F2;
    transition: all 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}

.text {
    padding: 5px;
    margin: 5px;
    display: block;
    transition: all 300ms;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
}