<!DOCTYPE html>
<html>

<head>
    <title>Dropdown List</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <body>

<div class="out">
    <div style="margin-left: 24px; padding: 13px; height: 28px; width: 285px;" >
            <span style="vertical-align:middle;">Select</span>
            <img src ="chevron-down.svg" alt="" style="margin-left:205px">
    </div>  
</div>
<br>
<div>
    <div class="list" style=" border-radius: 4px 4px 0px 0px; "> <p>First</p></div>
    <div class="list"style="border-radius: 0px;"><p>Second</p></div>
    <div class="list" style="border-radius: 0px 0px 4px 4px;"><p>Third</p></div>
</div>


</body>
</html> 