<!DOCTYPE html>
<html>

<head>
    <title>Inputs</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
    <body>
        <table>
            <tr>
              <th>Style name</th>
              <th>State</th>
              <th>Sample</th>
            </tr>
    
            <tr>
              <td>Text Inputs</td>
              <td>Normal-Pressed</td>
              <td>
                <input type="email" id="fname" name="fname" class="type1" 
                placeholder="Normal" 
                onfocus="this.placeholder = 'Focus'"; 
                onblur="this.placeholder = 'Normal'"; 
                onmouseover="this.placeholder = 'Hover'"; 
                onmouseout="this.placeholder = 'Normal'">
              </td>
            </tr>

            <tr>
                <td>Text Inputs</td>
                <td>Error</td>
                <td>
                  <input type="email" id="error" class="type1 error" 
                  placeholder="Error">
                </td>
            </tr>

            <tr>
                <td>Text Inputs</td>
                <td>Success</td>
                <td>
                  <input type="email" id="success" class="type1 success" 
                  placeholder="Success">
                </td>
            </tr>

            <tr>
                <td>Text Inputs</td>
                <td>Info</td>
                <td>
                  <input type="email" id="alert" class="type1 alert" 
                  placeholder="Alert">
                </td>
            </tr>

            <tr>
                <td>Text Inputs</td>
                <td>Disabled</td>
                <td>
                  <input type="email" class="type1" 
                  placeholder="Disable" disabled>
                </td>
            </tr>
        </table>

<br>
        <table>
            <tr>
              <th>Style name</th>
              <th>State</th>
              <th>Sample</th>
            </tr>
    
            <tr>
              <td>Text Inputs Left Icon</td>
              <td>Normal-Focus</td>
              <td>
                
                    <input type="email" id="fname" name="fname"  class="type1 icon" 
                    placeholder="Normal"  onfocus="this.placeholder = 'Focus'"; 
                    onblur="this.placeholder = 'Normal'"; 
                    onmouseover="this.placeholder = 'Hover'"; 
                    onmouseout="this.placeholder = 'Normal'"; />
               
              </td>
            </tr>

            <tr>
              <td>Text Inputs Left Icon</td>
              <td>Error</td>
              <td>
                <input type="email" id="press-l" class="type1 icon" 
                placeholder="Pressed">
              </td>
          </tr>

            <tr>
                <td>Text Inputs Left Icon</td>
                <td>Error</td>
                <td>
                  <input type="email" id="error-l" class="type1 error icon" 
                  placeholder="Error">
                </td>
            </tr>

            <tr>
                <td>Text Inputs Left Icon</td>
                <td>Success</td>
                <td>
                  <input type="email" id="success-l" class="type1 success icon" 
                  placeholder="Success">
                </td>
            </tr>

            <tr>
                <td>Text Inputs Left Icon</td>
                <td>Info</td>
                <td>
                  <input type="email" id="alert-l" class="type1 alert icon" 
                  placeholder="Alert">
                </td>
            </tr>

            <tr>
                <td>Text Inputs Left Icon</td>
                <td>Disabled</td>
                <td>
                  <input type="email" class="type1 icon"
                  placeholder="Disable" disabled>
                </td>
            </tr>
        </table>


<br>
        <table>
            <tr>
              <th>Style name</th>
              <th>State</th>
              <th>Sample</th>
            </tr>
    
            <tr>
              <td>Text Inputs 
                Right Icon</td>
              <td>Normal-Focus</td>
              <td>
                  <input type="email" id="fname" name="fname"  class="type1 icon-right" 
                  placeholder="Normal"  onfocus="this.placeholder = 'Focus'"; 
                  onblur="this.placeholder = 'Normal'"; 
                  onmouseover="this.placeholder = 'Hover'"; 
                  onmouseout="this.placeholder = 'Normal'"; />
              </td>
            </tr>

            <tr>
              <td>Text Inputs Right Icon</td>
              <td>Error</td>
              <td>
                <input type="email" id="press-r" class="type1 icon-right" 
                placeholder="Pressed">
              </td>
          </tr>

            <tr>
                <td>Text Inputs Right Icon</td>
                <td>Error</td>
                <td>
                  <input type="email" id="error-r" class="type1 error icon-right" 
                  placeholder="Error">
                </td>
            </tr>

            <tr>
                <td>Text Inputs Right Icon</td>
                <td>Success</td>
                <td>
                  <input type="email" id="success-r" class="type1 success icon-right" 
                  placeholder="Success">
                </td>
            </tr>

            <tr>
                <td>Text Inputs Right Icon</td>
                <td>Info</td>
                <td>
                  <input type="email" id="alert-r" class="type1 alert icon-right" 
                  placeholder="Alert">
                </td>
            </tr>

            <tr>
                <td>Text Right Icon</td>
                <td>Disabled</td>
                <td>
                  <input type="email" class="type1 icon-right" 
                  placeholder="Disable" disabled>
                </td>
            </tr>
        </table>
            
</body>

</html> 